<%= render 'header' %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content-scaffold">
          <center> <h2>Cliente <%= @customer.reason %></h2></center>
           <div class="hr-line-dashed"></div>
            <form class="form-horizontal">
                <div class="form-group"><label class="col-sm-2 control-label">Razão:</label>
                  <div class="col-sm-10">
                    <p style="color:#565555;" class="form-control">
                      <%= @customer.reason %>
                    </p>
                  </div>                  
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">CNPJ:</label>
                  <div class="col-sm-10">
                    <p style="color:#565555;" class="form-control">
                      <%= @customer.cnpj %>
                    </p>
                  </div>                  
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Telefone:</label>
                  <div class="col-sm-10">
                    <p style="color:#565555;" class="form-control">
                      <%= @customer.phone %>
                    </p>
                  </div>                  
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Prefeito:</label>
                  <div class="col-sm-10">
                    <p style="color:#565555;" class="form-control">
                      <%= @customer.mayor %>
                    </p>
                  </div>                  
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">CPF do Prefeito</label>
                  <div class="col-sm-10">
                    <p style="color:#565555;" class="form-control">
                      <%= @customer.cpf_mayor %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Endereço da Prefeitura:</label>
                  <div class="col-sm-10">
                    <p style="color:#565555;" class="form-control">
                      <%= @customer.city_hall %>
                    </p>
                  </div>                  
                </div>
                            <div class="hr-line-dashed">
              </div>                    
              <div class="form-group">
                  <div class="col-sm-4">
                      <%= link_to 'Voltar', clientes_path, :class => 'btn btn-white' %>            
                      <%= link_to 'Editar', edit_customer_path(@customer), :class => "btn btn-primary" %>               
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>  